openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple Applicant
    Tracking System platforms.
  title: Merge ATS API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/ats/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/ats/v1
paths:
  /account-details:
    get:
      description: Get details for a linked account.
      operationId: account_details_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
      security:
      - tokenAuth: []
      tags:
      - account-details
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /activities:
    get:
      description: Returns a list of `Activity` objects.
      operationId: activities_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsActivityType,Visibility:
            summary: Remote Fields Activity_type, Visibility
            value: activity_type,visibility
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - activity_type
          - activity_type,visibility
          - visibility
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return activities done by this user.
        examples:
          UserId:
            summary: user_id
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityList'
      security:
      - tokenAuth: []
      tags:
      - activities
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /activities/{id}:
    get:
      description: Returns an `Activity` object with the given `id`.
      operationId: activities_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsActivityType,Visibility:
            summary: Remote Fields Activity_type, Visibility
            value: activity_type,visibility
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - activity_type
          - activity_type,visibility
          - visibility
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
      security:
      - tokenAuth: []
      tags:
      - activities
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /applications:
    get:
      description: Returns a list of `Application` objects.
      operationId: applications_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return applications for this candidate.
        examples:
          CandidateId:
            summary: candidate_id
        explode: true
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return applications credited to this user.
        examples:
          CreditedToId:
            summary: credited_to_id
        explode: true
        in: query
        name: credited_to_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return applications at this interview
          stage.
        examples:
          CurrentStageId:
            summary: current_stage_id
        explode: true
        in: query
        name: current_stage_id
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return applications for this job.
        examples:
          JobId:
            summary: job_id
        explode: true
        in: query
        name: job_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return applications with this reject reason.
        examples:
          RejectReasonId:
            summary: reject_reason_id
        explode: true
        in: query
        name: reject_reason_id
        required: false
        schema:
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return applications with this source.
        explode: true
        in: query
        name: source
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApplicationList'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
    post:
      description: Creates an `Application` object with the given values.
      operationId: applications_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplicationEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicationEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /applications/{id}:
    get:
      description: Returns an `Application` object with the given `id`.
      operationId: applications_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /applications/{id}/change-stage:
    post:
      description: Updates the `current_stage` field of an `Application` object
      operationId: applications_change_stage_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationStageRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateApplicationStageRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateApplicationStageRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /applications/meta/post:
    get:
      description: Returns metadata for `Application` POSTs.
      operationId: applications_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The template ID associated with the nested application in the
          request.
        explode: true
        in: query
        name: application_remote_template_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /attachments:
    get:
      description: Returns a list of `Attachment` objects.
      operationId: attachments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return attachments for this candidate.
        examples:
          CandidateId:
            summary: candidate_id
        explode: true
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsAttachmentType:
            summary: Remote Fields Attachment_type
            value: attachment_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - attachment_type
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
    post:
      description: Creates an `Attachment` object with the given values.
      operationId: attachments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttachmentEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /attachments/{id}:
    get:
      description: Returns an `Attachment` object with the given `id`.
      operationId: attachments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsAttachmentType:
            summary: Remote Fields Attachment_type
            value: attachment_type
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - attachment_type
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /attachments/meta/post:
    get:
      description: Returns metadata for `Attachment` POSTs.
      operationId: attachments_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /candidates:
    get:
      description: Returns a list of `Candidate` objects.
      operationId: candidates_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return candidates with these email addresses;
          multiple addresses can be separated by commas.
        explode: true
        in: query
        name: email_addresses
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return candidates with this first name.
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return candidates with this last name.
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return candidates with these tags; multiple
          tags can be separated by commas.
        explode: true
        in: query
        name: tags
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCandidateList'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
    post:
      description: Creates a `Candidate` object with the given values.
      operationId: candidates_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Whether to include debug fields (such as log file links) in the
          response.
        explode: true
        in: query
        name: is_debug_mode
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateEndpointRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CandidateEndpointRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CandidateEndpointRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateResponse'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /candidates/{id}:
    get:
      description: Returns a `Candidate` object with the given `id`.
      operationId: candidates_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /candidates/ignore/{model_id}:
    post:
      description: Ignores a specific row based on the `model_id` in the url. These
        records will have their properties set to null, and will not be updated in
        future syncs. The "reason" and "message" fields in the request body will be
        stored for audit purposes.
      operationId: candidates_ignore_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: model_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/IgnoreCommonModelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IgnoreCommonModel'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-extra-tags:
      - ignore-model
      x-contentType: application/json
      x-accepts: application/json
  /candidates/meta/post:
    get:
      description: Returns metadata for `Candidate` POSTs.
      operationId: candidates_meta_post_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaResponse'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /common-model-scopes:
    get:
      description: Fetch the configuration of what data is saved by Merge when syncing.
        Common model scopes are set as a default across all linked accounts, but can
        be updated to have greater granularity per integration or account.
      operationId: common_model_scopes_retrieve
      parameters:
      - description: Slug of the integration to fetch
        explode: true
        in: query
        name: integration_slug
        required: false
        schema:
          type: string
        style: form
      - description: ID of specific linked account to fetch
        explode: true
        in: query
        name: linked_account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopes'
      security:
      - tokenAuth: []
      tags:
      - common-model-scopes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
    put:
      description: Update the configuration of what data is saved by Merge when syncing.
        Common model scopes are set as a default across all linked accounts, but can
        be updated to have greater granularity per integration or account.
      operationId: common_model_scopes_update
      parameters:
      - description: Slug of the integration to fetch
        explode: true
        in: query
        name: integration_slug
        required: false
        schema:
          type: string
        style: form
      - description: ID of specific linked account to fetch
        explode: true
        in: query
        name: linked_account_id
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonModelScopesUpdateSerializer'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CommonModelScopesUpdateSerializer'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CommonModelScopesUpdateSerializer'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonModelScopes'
      security:
      - tokenAuth: []
      tags:
      - common-model-scopes
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /delete-account:
    post:
      description: Delete a linked account.
      operationId: delete_account_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - tokenAuth: []
      tags:
      - delete-account
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /departments:
    get:
      description: Returns a list of `Department` objects.
      operationId: departments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDepartmentList'
      security:
      - tokenAuth: []
      tags:
      - departments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /departments/{id}:
    get:
      description: Returns a `Department` object with the given `id`.
      operationId: departments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
      security:
      - tokenAuth: []
      tags:
      - departments
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /eeocs:
    get:
      description: Returns a list of `EEOC` objects.
      operationId: eeocs_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return EEOC info for this candidate.
        examples:
          CandidateId:
            summary: candidate_id
        explode: true
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsDisabilityStatus,Gender,Race,VeteranStatus:
            summary: Remote Fields Disability_status, Gender, Race, Veteran_status
            value: disability_status,gender,race,veteran_status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - disability_status
          - disability_status,gender
          - disability_status,gender,race
          - disability_status,gender,race,veteran_status
          - disability_status,gender,veteran_status
          - disability_status,race
          - disability_status,race,veteran_status
          - disability_status,veteran_status
          - gender
          - gender,race
          - gender,race,veteran_status
          - gender,veteran_status
          - race
          - race,veteran_status
          - veteran_status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEEOCList'
      security:
      - tokenAuth: []
      tags:
      - eeocs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /eeocs/{id}:
    get:
      description: Returns an `EEOC` object with the given `id`.
      operationId: eeocs_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsDisabilityStatus,Gender,Race,VeteranStatus:
            summary: Remote Fields Disability_status, Gender, Race, Veteran_status
            value: disability_status,gender,race,veteran_status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - disability_status
          - disability_status,gender
          - disability_status,gender,race
          - disability_status,gender,race,veteran_status
          - disability_status,gender,veteran_status
          - disability_status,race
          - disability_status,race,veteran_status
          - disability_status,veteran_status
          - gender
          - gender,race
          - gender,race,veteran_status
          - gender,veteran_status
          - race
          - race,veteran_status
          - veteran_status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EEOC'
      security:
      - tokenAuth: []
      tags:
      - eeocs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /interviews:
    get:
      description: Returns a list of `ScheduledInterview` objects.
      operationId: interviews_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return interviews for this application.
        examples:
          ApplicationId:
            summary: application_id
        explode: true
        in: query
        name: application_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return interviews at this stage.
        examples:
          JobInterviewStageId:
            summary: job_interview_stage_id
        explode: true
        in: query
        name: job_interview_stage_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return interviews organized by this user.
        examples:
          OrganizerId:
            summary: organizer_id
        explode: true
        in: query
        name: organizer_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScheduledInterviewList'
      security:
      - tokenAuth: []
      tags:
      - interviews
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /interviews/{id}:
    get:
      description: Returns a `ScheduledInterview` object with the given `id`.
      operationId: interviews_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledInterview'
      security:
      - tokenAuth: []
      tags:
      - interviews
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /issues:
    get:
      description: Gets issues.
      operationId: issues_list
      parameters:
      - explode: true
        in: query
        name: account_token
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include issues whose most recent action
          occurred before this time
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: first_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: first_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If True, will include muted issues
        explode: true
        in: query
        name: include_muted
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was after this datetime.
        explode: true
        in: query
        name: last_incident_time_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: If provided, will only return issues whose first incident time
          was before this datetime.
        explode: true
        in: query
        name: last_incident_time_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If included, will only include issues whose most recent action
          occurred after this time
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ONGOING
          - RESOLVED
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedIssueList'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /issues/{id}:
    get:
      description: Get a specific issue.
      operationId: issues_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
      security:
      - tokenAuth: []
      tags:
      - issues
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /job-interview-stages:
    get:
      description: Returns a list of `JobInterviewStage` objects.
      operationId: job_interview_stages_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return interview stages for this job.
        examples:
          JobId:
            summary: job_id
        explode: true
        in: query
        name: job_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobInterviewStageList'
      security:
      - tokenAuth: []
      tags:
      - job-interview-stages
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /job-interview-stages/{id}:
    get:
      description: Returns a `JobInterviewStage` object with the given `id`.
      operationId: job_interview_stages_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInterviewStage'
      security:
      - tokenAuth: []
      tags:
      - job-interview-stages
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /jobs:
    get:
      description: Returns a list of `Job` objects.
      operationId: jobs_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return jobs with this code.
        explode: true
        in: query
        name: code
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: 'If provided, will only return jobs with this status. Options:
          (''OPEN'', ''CLOSED'', ''DRAFT'', ''ARCHIVED'', ''PENDING'')'
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - ARCHIVED
          - CLOSED
          - DRAFT
          - OPEN
          - PENDING
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobList'
      security:
      - tokenAuth: []
      tags:
      - jobs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /jobs/{id}:
    get:
      description: Returns a `Job` object with the given `id`.
      operationId: jobs_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      security:
      - tokenAuth: []
      tags:
      - jobs
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /linked-accounts:
    get:
      description: List linked accounts for your organization.
      operationId: linked_accounts_list
      parameters:
      - explode: true
        in: query
        name: category
        required: false
        schema:
          enum:
          - accounting
          - ats
          - crm
          - hris
          - ticketing
          nullable: true
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given email address.
        explode: true
        in: query
        name: end_user_email_address
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given organization name.
        explode: true
        in: query
        name: end_user_organization_name
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return linked accounts associated with
          the given origin ID.
        explode: true
        in: query
        name: end_user_origin_id
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated list of EndUser origin IDs, making it possible
          to specify multiple EndUsers at once.
        explode: true
        in: query
        name: end_user_origin_ids
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Comma-separated list of LinkedAccount IDs, making it possible
          to specify multiple LinkedAccounts at once.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: If `true`, will include complete production duplicates of the
          account specified by the `id` query parameter in the response. `id` must
          be for a complete production linked account.
        explode: true
        in: query
        name: include_duplicates
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return linked accounts associated with
          the given integration name.
        explode: true
        in: query
        name: integration_name
        required: false
        schema:
          type: string
        style: form
      - description: If included, will only include test linked accounts. If not included,
          will only include non-test linked accounts.
        explode: true
        in: query
        name: is_test_account
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: 'Filter by status. Options: `COMPLETE`, `INCOMPLETE`, `RELINK_NEEDED`'
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountDetailsAndActionsList'
      security:
      - tokenAuth: []
      tags:
      - linked-accounts
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /offers:
    get:
      description: Returns a list of `Offer` objects.
      operationId: offers_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return offers for this application.
        examples:
          ApplicationId:
            summary: application_id
        explode: true
        in: query
        name: application_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return offers created by this user.
        examples:
          CreatorId:
            summary: creator_id
        explode: true
        in: query
        name: creator_id
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOfferList'
      security:
      - tokenAuth: []
      tags:
      - offers
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /offers/{id}:
    get:
      description: Returns an `Offer` object with the given `id`.
      operationId: offers_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsStatus:
            summary: Remote Fields Status
            value: status
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - status
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
      security:
      - tokenAuth: []
      tags:
      - offers
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /offices:
    get:
      description: Returns a list of `Office` objects.
      operationId: offices_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOfficeList'
      security:
      - tokenAuth: []
      tags:
      - offices
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /offices/{id}:
    get:
      description: Returns an `Office` object with the given `id`.
      operationId: offices_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
      security:
      - tokenAuth: []
      tags:
      - offices
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /passthrough:
    post:
      description: Pull data from an endpoint not currently supported by Merge.
      operationId: passthrough_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      security:
      - tokenAuth: []
      tags:
      - passthrough
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /regenerate-key:
    post:
      description: Exchange remote keys.
      operationId: regenerate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - regenerate-key
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-contentType: application/json
      x-accepts: application/json
  /reject-reasons:
    get:
      description: Returns a list of `RejectReason` objects.
      operationId: reject_reasons_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRejectReasonList'
      security:
      - tokenAuth: []
      tags:
      - reject-reasons
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /reject-reasons/{id}:
    get:
      description: Returns a `RejectReason` object with the given `id`.
      operationId: reject_reasons_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectReason'
      security:
      - tokenAuth: []
      tags:
      - reject-reasons
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /scorecards:
    get:
      description: Returns a list of `Scorecard` objects.
      operationId: scorecards_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return scorecards for this application.
        examples:
          ApplicationId:
            summary: application_id
        explode: true
        in: query
        name: application_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include data that was marked as deleted by third party
          webhooks.
        explode: true
        in: query
        name: include_deleted_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return scorecards for this interview.
        examples:
          InterviewId:
            summary: interview_id
        explode: true
        in: query
        name: interview_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return scorecards for this interviewer.
        examples:
          InterviewerId:
            summary: interviewer_id
        explode: true
        in: query
        name: interviewer_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsOverallRecommendation:
            summary: Remote Fields Overall_recommendation
            value: overall_recommendation
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - overall_recommendation
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScorecardList'
      security:
      - tokenAuth: []
      tags:
      - scorecards
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /scorecards/{id}:
    get:
      description: Returns a `Scorecard` object with the given `id`.
      operationId: scorecards_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: Which fields should be returned in non-normalized form.
        examples:
          RemoteFieldsOverallRecommendation:
            summary: Remote Fields Overall_recommendation
            value: overall_recommendation
        explode: true
        in: query
        name: remote_fields
        required: false
        schema:
          enum:
          - overall_recommendation
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scorecard'
      security:
      - tokenAuth: []
      tags:
      - scorecards
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
  /selective-sync/configurations:
    get:
      description: Get a linked account's selective syncs.
      operationId: selective_sync_configurations_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                StartDateConditionExample:
                  summary: Employees that started on or after January 1st, 2022
                  value:
                    linked_account_conditons:
                    - condition_schema_id: 123e4567-e89b-12d3-a456-426655440000
                      common_model: hris.Employee
                      native_name: Started At
                      field_name: start_date
                      operator: GREATER_THAN_OR_EQUAL
                      value: 2022-01-01T00:00:00Z
              schema:
                items:
                  $ref: '#/components/schemas/LinkedAccountSelectiveSyncConfiguration'
                type: array
      security:
      - tokenAuth: []
      tags:
      - selective-sync
      x-endpoint-availability: ENDPOINT_AVAILABILITY_PUBLIC
      x-accepts: application/json
    put:
      description: Replace a linked account's selective syncs.
      operationId: selective_sync_configurations_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              StartDateConditionRequestExample:
[...]
