openapi: 3.0.3
info:
  contact:
    email: hello@merge.dev
    name: Merge Team
    url: https://www.merge.dev/
  description: The unified API for building rich integrations with multiple Applicant
    Tracking System platforms.
  title: Merge ATS API
  version: "1.0"
servers:
- description: Production
  url: https://api.merge.dev/api/ats/v1
- description: Sandbox
  url: https://api-sandbox.merge.dev/api/ats/v1
paths:
  /account-token/{public_token}:
    get:
      description: Returns the account token for the end user with the provided public
        token.
      operationId: account_token_retrieve
      parameters:
      - explode: false
        in: path
        name: public_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToken'
      security:
      - tokenAuth: []
      tags:
      - account-token
      x-accepts: application/json
  /activities:
    get:
      description: Returns a list of `Activity` objects.
      operationId: activities_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandUser:
            summary: Expand User
            value: user
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - user
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      - description: If provided, will only return activities done by this user.
        examples:
          UserId:
            summary: user_id
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityList'
      security:
      - tokenAuth: []
      tags:
      - activities
      x-accepts: application/json
  /activities/{id}:
    get:
      description: Returns an `Activity` object with the given `id`.
      operationId: activities_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandUser:
            summary: Expand User
            value: user
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - user
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
      security:
      - tokenAuth: []
      tags:
      - activities
      x-accepts: application/json
  /applications:
    get:
      description: Returns a list of `Application` objects.
      operationId: applications_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return applications for this candidate.
        examples:
          CandidateId:
            summary: candidate_id
        explode: true
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return applications credited to this user.
        examples:
          CreditedToId:
            summary: credited_to_id
        explode: true
        in: query
        name: credited_to_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return applications at this interview
          stage.
        examples:
          CurrentStageId:
            summary: current_stage_id
        explode: true
        in: query
        name: current_stage_id
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandCandidate,Job,CreditedTo,CurrentStage,RejectReason:
            summary: Expand Candidate, Job, Credited_to, Current_stage, Reject_reason
            value: candidate,job,credited_to,current_stage,reject_reason
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - candidate
          - candidate,credited_to
          - candidate,credited_to,current_stage
          - candidate,credited_to,current_stage,reject_reason
          - candidate,credited_to,reject_reason
          - candidate,current_stage
          - candidate,current_stage,reject_reason
          - candidate,job
          - candidate,job,credited_to
          - candidate,job,credited_to,current_stage
          - candidate,job,credited_to,current_stage,reject_reason
          - candidate,job,credited_to,reject_reason
          - candidate,job,current_stage
          - candidate,job,current_stage,reject_reason
          - candidate,job,reject_reason
          - candidate,reject_reason
          - credited_to
          - credited_to,current_stage
          - credited_to,current_stage,reject_reason
          - credited_to,reject_reason
          - current_stage
          - current_stage,reject_reason
          - job
          - job,credited_to
          - job,credited_to,current_stage
          - job,credited_to,current_stage,reject_reason
          - job,credited_to,reject_reason
          - job,current_stage
          - job,current_stage,reject_reason
          - job,reject_reason
          - reject_reason
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return applications for this job.
        examples:
          JobId:
            summary: job_id
        explode: true
        in: query
        name: job_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: If provided, will only return applications with this reject reason.
        examples:
          RejectReasonId:
            summary: reject_reason_id
        explode: true
        in: query
        name: reject_reason_id
        required: false
        schema:
          type: string
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedApplicationList'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-accepts: application/json
    post:
      description: Creates an `Application` object with the given values.
      operationId: applications_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the RemoteUser deleting the resource. This can be found
          in the ID field (not remote_id) in the RemoteUser table.
        explode: true
        in: query
        name: remote_user_id
        required: true
        schema:
          type: string
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-contentType: application/json
      x-accepts: application/json
  /applications/{id}:
    get:
      description: Returns an `Application` object with the given `id`.
      operationId: applications_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandCandidate,Job,CreditedTo,CurrentStage,RejectReason:
            summary: Expand Candidate, Job, Credited_to, Current_stage, Reject_reason
            value: candidate,job,credited_to,current_stage,reject_reason
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - candidate
          - candidate,credited_to
          - candidate,credited_to,current_stage
          - candidate,credited_to,current_stage,reject_reason
          - candidate,credited_to,reject_reason
          - candidate,current_stage
          - candidate,current_stage,reject_reason
          - candidate,job
          - candidate,job,credited_to
          - candidate,job,credited_to,current_stage
          - candidate,job,credited_to,current_stage,reject_reason
          - candidate,job,credited_to,reject_reason
          - candidate,job,current_stage
          - candidate,job,current_stage,reject_reason
          - candidate,job,reject_reason
          - candidate,reject_reason
          - credited_to
          - credited_to,current_stage
          - credited_to,current_stage,reject_reason
          - credited_to,reject_reason
          - current_stage
          - current_stage,reject_reason
          - job
          - job,credited_to
          - job,credited_to,current_stage
          - job,credited_to,current_stage,reject_reason
          - job,credited_to,reject_reason
          - job,current_stage
          - job,current_stage,reject_reason
          - job,reject_reason
          - reject_reason
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-accepts: application/json
    patch:
      description: Updates an `Application` object with the given `id`.
      operationId: applications_partial_update
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the RemoteUser deleting the resource. This can be found
          in the ID field (not remote_id) in the RemoteUser table.
        explode: true
        in: query
        name: remote_user_id
        required: true
        schema:
          type: string
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedApplicationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedApplicationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedApplicationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - tokenAuth: []
      tags:
      - applications
      x-contentType: application/json
      x-accepts: application/json
  /attachments:
    get:
      description: Returns a list of `Attachment` objects.
      operationId: attachments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return attachments for this candidate.
        examples:
          CandidateId:
            summary: candidate_id
        explode: true
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAttachmentList'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-accepts: application/json
    post:
      description: Creates an `Attachment` object with the given values.
      operationId: attachments_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the RemoteUser deleting the resource. This can be found
          in the ID field (not remote_id) in the RemoteUser table.
        explode: true
        in: query
        name: remote_user_id
        required: true
        schema:
          type: string
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AttachmentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-contentType: application/json
      x-accepts: application/json
  /attachments/{id}:
    get:
      description: Returns an `Attachment` object with the given `id`.
      operationId: attachments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
      security:
      - tokenAuth: []
      tags:
      - attachments
      x-accepts: application/json
  /available-actions:
    get:
      description: Returns a list of models and actions available for an account.
      operationId: available_actions_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableActions'
      security:
      - tokenAuth: []
      tags:
      - available-actions
      x-accepts: application/json
  /candidates:
    get:
      description: Returns a list of `Candidate` objects.
      operationId: candidates_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandApplications,Attachments:
            summary: Expand Applications, Attachments
            value: applications,attachments
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - applications
          - applications,attachments
          - attachments
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCandidateList'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-accepts: application/json
    post:
      description: Creates a `Candidate` object with the given values.
      operationId: candidates_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the RemoteUser deleting the resource. This can be found
          in the ID field (not remote_id) in the RemoteUser table.
        explode: true
        in: query
        name: remote_user_id
        required: true
        schema:
          type: string
        style: form
      - description: Whether or not third-party updates should be run asynchronously.
        explode: true
        in: query
        name: run_async
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CandidateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CandidateRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-contentType: application/json
      x-accepts: application/json
  /candidates/{id}:
    get:
      description: Returns a `Candidate` object with the given `id`.
      operationId: candidates_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandApplications,Attachments:
            summary: Expand Applications, Attachments
            value: applications,attachments
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - applications
          - applications,attachments
          - attachments
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'
      security:
      - tokenAuth: []
      tags:
      - candidates
      x-accepts: application/json
  /departments:
    get:
      description: Returns a list of `Department` objects.
      operationId: departments_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDepartmentList'
      security:
      - tokenAuth: []
      tags:
      - departments
      x-accepts: application/json
  /departments/{id}:
    get:
      description: Returns a `Department` object with the given `id`.
      operationId: departments_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
      security:
      - tokenAuth: []
      tags:
      - departments
      x-accepts: application/json
  /eeocs:
    get:
      description: Returns a list of `EEOC` objects.
      operationId: eeocs_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return EEOC info for this candidate.
        examples:
          CandidateId:
            summary: candidate_id
        explode: true
        in: query
        name: candidate_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandCandidate:
            summary: Expand Candidate
            value: candidate
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - candidate
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEEOCList'
      security:
      - tokenAuth: []
      tags:
      - eeocs
      x-accepts: application/json
  /eeocs/{id}:
    get:
      description: Returns an `EEOC` object with the given `id`.
      operationId: eeocs_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandCandidate:
            summary: Expand Candidate
            value: candidate
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - candidate
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EEOC'
      security:
      - tokenAuth: []
      tags:
      - eeocs
      x-accepts: application/json
  /generate-key:
    post:
      description: Create a remote key.
      operationId: generate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateRemoteKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - generate-key
      x-contentType: application/json
      x-accepts: application/json
  /interviews:
    get:
      description: Returns a list of `ScheduledInterview` objects.
      operationId: interviews_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return interviews for this application.
        examples:
          ApplicationId:
            summary: application_id
        explode: true
        in: query
        name: application_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandInterviewers,Organizer,Application,JobInterviewStage:
            summary: Expand Interviewers, Organizer, Application, Job_interview_stage
            value: interviewers,organizer,application,job_interview_stage
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - application
          - application,job_interview_stage
          - interviewers
          - interviewers,application
          - interviewers,application,job_interview_stage
          - interviewers,job_interview_stage
          - interviewers,organizer
          - interviewers,organizer,application
          - interviewers,organizer,application,job_interview_stage
          - interviewers,organizer,job_interview_stage
          - job_interview_stage
          - organizer
          - organizer,application
          - organizer,application,job_interview_stage
          - organizer,job_interview_stage
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return interviews at this stage.
        examples:
          JobInterviewStageId:
            summary: job_interview_stage_id
        explode: true
        in: query
        name: job_interview_stage_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return interviews organized by this user.
        examples:
          OrganizerId:
            summary: organizer_id
        explode: true
        in: query
        name: organizer_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScheduledInterviewList'
      security:
      - tokenAuth: []
      tags:
      - interviews
      x-accepts: application/json
  /interviews/{id}:
    get:
      description: Returns a `ScheduledInterview` object with the given `id`.
      operationId: interviews_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandInterviewers,Organizer,Application,JobInterviewStage:
            summary: Expand Interviewers, Organizer, Application, Job_interview_stage
            value: interviewers,organizer,application,job_interview_stage
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - application
          - application,job_interview_stage
          - interviewers
          - interviewers,application
          - interviewers,application,job_interview_stage
          - interviewers,job_interview_stage
          - interviewers,organizer
          - interviewers,organizer,application
          - interviewers,organizer,application,job_interview_stage
          - interviewers,organizer,job_interview_stage
          - job_interview_stage
          - organizer
          - organizer,application
          - organizer,application,job_interview_stage
          - organizer,job_interview_stage
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledInterview'
      security:
      - tokenAuth: []
      tags:
      - interviews
      x-accepts: application/json
  /job-interview-stages:
    get:
      description: Returns a list of `JobInterviewStage` objects.
      operationId: job_interview_stages_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandDepartments,Offices,Job:
            summary: Expand Departments, Offices, Job
            value: departments,offices,job
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - departments
          - departments,job
          - departments,offices
          - departments,offices,job
          - job
          - offices
          - offices,job
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return interview stages for this job.
        examples:
          JobId:
            summary: job_id
        explode: true
        in: query
        name: job_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobInterviewStageList'
      security:
      - tokenAuth: []
      tags:
      - job-interview-stages
      x-accepts: application/json
  /job-interview-stages/{id}:
    get:
      description: Returns a `JobInterviewStage` object with the given `id`.
      operationId: job_interview_stages_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandDepartments,Offices,Job:
            summary: Expand Departments, Offices, Job
            value: departments,offices,job
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - departments
          - departments,job
          - departments,offices
          - departments,offices,job
          - job
          - offices
          - offices,job
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobInterviewStage'
      security:
      - tokenAuth: []
      tags:
      - job-interview-stages
      x-accepts: application/json
  /jobs:
    get:
      description: Returns a list of `Job` objects.
      operationId: jobs_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandDepartments,Offices,HiringManagers:
            summary: Expand Departments, Offices, Hiring_managers
            value: departments,offices,hiring_managers
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - departments
          - departments,hiring_managers
          - departments,offices
          - departments,offices,hiring_managers
          - hiring_managers
          - offices
          - offices,hiring_managers
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedJobList'
      security:
      - tokenAuth: []
      tags:
      - jobs
      x-accepts: application/json
  /jobs/{id}:
    get:
      description: Returns a `Job` object with the given `id`.
      operationId: jobs_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandDepartments,Offices,HiringManagers:
            summary: Expand Departments, Offices, Hiring_managers
            value: departments,offices,hiring_managers
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - departments
          - departments,hiring_managers
          - departments,offices
          - departments,offices,hiring_managers
          - hiring_managers
          - offices
          - offices,hiring_managers
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      security:
      - tokenAuth: []
      tags:
      - jobs
      x-accepts: application/json
  /link-token:
    post:
      description: Creates a link token to be used when linking a new end user.
      operationId: link_token_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EndUserDetailsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkToken'
      security:
      - tokenAuth: []
      tags:
      - link-token
      x-contentType: application/json
      x-accepts: application/json
  /offers:
    get:
      description: Returns a list of `Offer` objects.
      operationId: offers_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return offers for this application.
        examples:
          ApplicationId:
            summary: application_id
        explode: true
        in: query
        name: application_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return offers created by this user.
        examples:
          CreatorId:
            summary: creator_id
        explode: true
        in: query
        name: creator_id
        required: false
        schema:
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandApplication,Creator:
            summary: Expand Application, Creator
            value: application,creator
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - application
          - application,creator
          - creator
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOfferList'
      security:
      - tokenAuth: []
      tags:
      - offers
      x-accepts: application/json
  /offers/{id}:
    get:
      description: Returns an `Offer` object with the given `id`.
      operationId: offers_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandApplication,Creator:
            summary: Expand Application, Creator
            value: application,creator
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - application
          - application,creator
          - creator
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
      security:
      - tokenAuth: []
      tags:
      - offers
      x-accepts: application/json
  /offices:
    get:
      description: Returns a list of `Office` objects.
      operationId: offices_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOfficeList'
      security:
      - tokenAuth: []
      tags:
      - offices
      x-accepts: application/json
  /offices/{id}:
    get:
      description: Returns an `Office` object with the given `id`.
      operationId: offices_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
      security:
      - tokenAuth: []
      tags:
      - offices
      x-accepts: application/json
  /passthrough:
    post:
      description: Pull data from an endpoint not currently supported by Merge.
      operationId: passthrough_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DataPassthroughRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteResponse'
      security:
      - tokenAuth: []
      tags:
      - passthrough
      x-contentType: application/json
      x-accepts: application/json
  /regenerate-key:
    post:
      description: Exchange remote keys.
      operationId: regenerate_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RemoteKeyForRegenerationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteKey'
      security:
      - tokenAuth: []
      tags:
      - regenerate-key
      x-contentType: application/json
      x-accepts: application/json
  /reject-reasons:
    get:
      description: Returns a list of `RejectReason` objects.
      operationId: reject_reasons_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRejectReasonList'
      security:
      - tokenAuth: []
      tags:
      - reject-reasons
      x-accepts: application/json
  /reject-reasons/{id}:
    get:
      description: Returns a `RejectReason` object with the given `id`.
      operationId: reject_reasons_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectReason'
      security:
      - tokenAuth: []
      tags:
      - reject-reasons
      x-accepts: application/json
  /scorecards:
    get:
      description: Returns a list of `Scorecard` objects.
      operationId: scorecards_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return scorecards for this application.
        examples:
          ApplicationId:
            summary: application_id
        explode: true
        in: query
        name: application_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandApplication,Interview,Interviewer:
            summary: Expand Application, Interview, Interviewer
            value: application,interview,interviewer
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - application
          - application,interview
          - application,interview,interviewer
          - application,interviewer
          - interview
          - interview,interviewer
          - interviewer
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return scorecards for this interview.
        examples:
          InterviewId:
            summary: interview_id
        explode: true
        in: query
        name: interview_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return scorecards for this interviewer.
        examples:
          InterviewerId:
            summary: interviewer_id
        explode: true
        in: query
        name: interviewer_id
        required: false
        schema:
          type: string
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedScorecardList'
      security:
      - tokenAuth: []
      tags:
      - scorecards
      x-accepts: application/json
  /scorecards/{id}:
    get:
      description: Returns a `Scorecard` object with the given `id`.
      operationId: scorecards_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: Which relations should be returned in expanded form. Multiple
          relation names should be comma separated without spaces.
        examples:
          ExpandApplication,Interview,Interviewer:
            summary: Expand Application, Interview, Interviewer
            value: application,interview,interviewer
        explode: true
        in: query
        name: expand
        required: false
        schema:
          enum:
          - application
          - application,interview
          - application,interview,interviewer
          - application,interviewer
          - interview
          - interview,interviewer
          - interviewer
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scorecard'
      security:
      - tokenAuth: []
      tags:
      - scorecards
      x-accepts: application/json
  /sync-status:
    get:
      description: Get syncing status.
      operationId: sync_status_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
      security:
      - tokenAuth: []
      tags:
      - sync-status
      x-accepts: application/json
  /sync-status/resync:
    post:
      description: Force resync of all models.
      operationId: sync_status_resync_create
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
      security:
      - tokenAuth: []
      tags:
      - sync-status
      x-accepts: application/json
  /tags:
    get:
      description: Returns a list of `Tag` objects.
      operationId: tags_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagList'
      security:
      - tokenAuth: []
      tags:
      - tags
      x-accepts: application/json
  /users:
    get:
      description: Returns a list of `RemoteUser` objects.
      operationId: users_list
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - description: If provided, will only return objects created after this datetime.
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects created before this datetime.
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The pagination cursor value.
        examples:
          CursorExample:
            summary: Cursor Example
            value: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      - description: If provided, will only return objects modified after this datetime.
        explode: true
        in: query
        name: modified_after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: If provided, will only return objects modified before this datetime.
        explode: true
        in: query
        name: modified_before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Number of results to return per page.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - description: The API provider's ID for the given object.
        explode: true
        in: query
        name: remote_id
        required: false
        schema:
          description: The third-party API ID of the matching object.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRemoteUserList'
      security:
      - tokenAuth: []
      tags:
      - users
      x-accepts: application/json
  /users/{id}:
    get:
      description: Returns a `RemoteUser` object with the given `id`.
      operationId: users_retrieve
      parameters:
      - description: Token identifying the end user.
        explode: false
        in: header
        name: X-Account-Token
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Whether to include the original data Merge fetched from the third-party
          to produce these models.
        explode: true
        in: query
        name: include_remote_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteUser'
      security:
      - tokenAuth: []
      tags:
      - users
      x-accepts: application/json
components:
  schemas:
    AccessRoleEnum:
      enum:
      - SUPER_ADMIN
      - ADMIN
      - TEAM_MEMBER
      - LIMITED_TEAM_MEMBER
      - INTERVIEWER
      type: string
    AccountIntegration:
      example:
        image: https://openapi-generator.tech
        color: color
        name: name
        square_image: https://openapi-generator.tech
        categories:
        - hris
        - hris
        slug: slug
      properties:
        name:
          description: Company name.
          type: string
        categories:
          description: 'Category or categories this integration belongs to. Multiple
            categories should be comma separated.<br/><br>Example: For [ats, hris],
            enter <i>ats,hris</i>'
          items:
            enum:
            - hris
            - ats
            - accounting
            type: string
          type: array
        image:
          description: Company logo in rectangular shape. <b>Upload an image with
            a clear background.</b>
          format: uri
          nullable: true
          type: string
        square_image:
          description: Company logo in square shape. <b>Upload an image with a white
            background.</b>
          format: uri
          nullable: true
          type: string
        color:
          description: The color of this integration used for buttons and text throughout
            the app and landing pages. <b>Choose a darker, saturated color.</b>
          maxLength: 18
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
          type: string
        slug:
          readOnly: true
          type: string
      required:
      - name
      type: object
    AccountToken:
      example:
        account_token: T9klMDQrcHdm9jrtHuOS2Nf06BIHwMNjpPXPMB
        integration:
          image: https://openapi-generator.tech
          color: color
          name: name
          square_image: https://openapi-generator.tech
          categories:
          - hris
          - hris
          slug: slug
      properties:
        account_token:
          example: T9klMDQrcHdm9jrtHuOS2Nf06BIHwMNjpPXPMB
          type: string
        integration:
          $ref: '#/components/schemas/AccountIntegration'
      required:
      - account_token
      - integration
      type: object
    Activity:
      description: |-
        # The Activity Object
        ### Description
        The `Activity` object is used to represent an activity performed by a user.

        ### Usage Example
        Fetch from the `LIST Activities` endpoint and filter by `ID` to show all activities.
      example:
        visibility: PRIVATE
        subject: Gil Feig's applicant status
        remote_id: "198123"
        activity_type: NOTE
        id: ecbe05ac-62a3-46c5-ab31-4b478b37d1b4
        remote_created_at: 2000-01-23T04:56:07.000+00:00
        body: Candidate will only join if we provide a Barry's subsidy.
        user: 9d892439-5fab-4dbb-8bd8-34f7f96c7912
        remote_data:
        - path: /actions
          data:
          - Varies by platform
      properties:
        id:
          example: ecbe05ac-62a3-46c5-ab31-4b478b37d1b4
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "198123"
          nullable: true
          type: string
        user:
          description: The user the performed the action.
          example: 9d892439-5fab-4dbb-8bd8-34f7f96c7912
          format: uuid
          nullable: true
          type: string
        remote_created_at:
          description: When the third party's activity was created.
          format: date-time
          nullable: true
          type: string
        activity_type:
          allOf:
          - $ref: '#/components/schemas/ActivityTypeEnum'
          description: The activity's type.
          example: NOTE
          nullable: true
        subject:
          description: The activity's subject.
          example: Gil Feig's applicant status
          nullable: true
          type: string
        body:
          description: The activity's body.
          example: Candidate will only join if we provide a Barry's subsidy.
          nullable: true
          type: string
        visibility:
          allOf:
          - $ref: '#/components/schemas/VisibilityEnum'
          description: The activity's visibility.
          example: PRIVATE
          nullable: true
        remote_data:
          example:
          - path: /actions
            data:
            - Varies by platform
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
      type: object
    ActivityTypeEnum:
      enum:
      - NOTE
      - EMAIL
      - OTHER
      type: string
    Application:
      description: |-
        # The Application Object
        ### Description
        The `Application` object is used to represent an Application for a job position.

        ### Usage Example
        Fetch from the `LIST Applications` endpoint and filter by `ID` to show all applications.
      example:
        applied_at: 2000-01-23T04:56:07.000+00:00
        candidate: 2872ba14-4084-492b-be96-e5eee6fc33ef
        rejected_at: 2000-01-23T04:56:07.000+00:00
        remote_id: "98796"
        id: 92e8a369-fffe-430d-b93a-f7e8a16563f1
        source: Campus recruiting event
        credited_to: 58166795-8d68-4b30-9bfb-bfd402479484
        current_stage: d578dfdc-7b0a-4ab6-a2b0-4b40f20eb9ea
        reject_reason: 59b25f2b-da02-40f5-9656-9fa0db555784
        job: 52bf9b5e-0beb-4f6f-8a72-cd4dca7ca633
        remote_data:
        - path: /candidacies
          data:
          - Varies by platform
      properties:
        id:
          example: 92e8a369-fffe-430d-b93a-f7e8a16563f1
          format: uuid
          readOnly: true
          type: string
        remote_id:
          description: The third-party API ID of the matching object.
          example: "98796"
          nullable: true
          type: string
        candidate:
          description: The candidate applying.
          example: 2872ba14-4084-492b-be96-e5eee6fc33ef
          format: uuid
          nullable: true
          type: string
        job:
          description: The job being applied for.
          example: 52bf9b5e-0beb-4f6f-8a72-cd4dca7ca633
          format: uuid
          nullable: true
          type: string
        applied_at:
          description: When the application was submitted.
          format: date-time
          nullable: true
          type: string
        rejected_at:
          description: When the application was rejected.
          format: date-time
          nullable: true
          type: string
        source:
          description: The application's source.
          example: Campus recruiting event
          nullable: true
          type: string
        credited_to:
          description: The user credited for this application.
          example: 58166795-8d68-4b30-9bfb-bfd402479484
          format: uuid
          nullable: true
          type: string
        current_stage:
          description: The application's current stage.
          example: d578dfdc-7b0a-4ab6-a2b0-4b40f20eb9ea
          format: uuid
          nullable: true
          type: string
        reject_reason:
          description: The application's reason for rejection.
          example: 59b25f2b-da02-40f5-9656-9fa0db555784
          format: uuid
          nullable: true
          type: string
        remote_data:
          example:
          - path: /candidacies
            data:
            - Varies by platform
          items:
            $ref: '#/components/schemas/RemoteData'
          nullable: true
          readOnly: true
          type: array
      type: object
    ApplicationRequest:
      description: |-
        # The Application Object
        ### Description
        The `Application` object is used to represent an Application for a job position.

        ### Usage Example
        Fetch from the `LIST Applications` endpoint and filter by `ID` to show all applications.
      example:
        applied_at: 2000-01-23T04:56:07.000+00:00
        candidate: 2872ba14-4084-492b-be96-e5eee6fc33ef
        rejected_at: 2000-01-23T04:56:07.000+00:00
        remote_id: "98796"
        source: Campus recruiting event
        credited_to: 58166795-8d68-4b30-9bfb-bfd402479484
        current_stage: d578dfdc-7b0a-4ab6-a2b0-4b40f20eb9ea
        reject_reason: 59b25f2b-da02-40f5-9656-9fa0db555784
        job: 52bf9b5e-0beb-4f6f-8a72-cd4dca7ca633
      properties:
        remote_id:
          description: The third-party API ID of the matching object.
          example: "98796"
          nullable: true
          type: string
        candidate:
          description: The candidate applying.
          example: 2872ba14-4084-492b-be96-e5eee6fc33ef
          format: uuid
          nullable: true
          type: string
        job:
          description: The job being applied for.
          example: 52bf9b5e-0beb-4f6f-8a72-cd4dca7ca633
          format: uuid
          nullable: true
          type: string
        applied_at:
          description: When the application was submitted.
          format: date-time
          nullable: true
          type: string
        rejected_at:
          description: When the application was rejected.
          format: date-time
          nullable: true
          type: string
        source:
          description: The application's source.
          example: Campus recruiting event
          nullable: true
          type: string
        credited_to:
          description: The user credited for this application.
          example: 58166795-8d68-4b30-9bfb-bfd402479484
          format: uuid
          nullable: true
          type: string
        current_stage:
          description: The application's current stage.
[...]
